body {
    display: flex;
    justify-content: center;

}

.container {
    width: 1000px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 6px rgb(194, 194, 194);
    margin-top: 30px;

}

.avatar {
    margin: 5px;
    border-radius: 20px;
    float: left;
}

.header {
    overflow: hidden;
    text-align: center;
    padding-top: 65px;
}

.main_info {
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

hr {
    color: rgb(194, 194, 194);
}